[submodule "vendors/auto-complete"]
	path = vendors/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "vendors/twittering-mode"]
	path = vendors/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "vendors/emacs-w3m"]
	path = vendors/emacs-w3m
	url = https://github.com/sjatkinson/emacs-w3m.git
[submodule "vendors/org-mode"]
	path = vendors/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "vendors/jade-mode"]
	path = vendors/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule "vendors/magit"]
	path = vendors/magit
	url = https://github.com/magit/magit.git
[submodule "vendors/yasnippet"]
	path = vendors/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "vendors/coffee-mode"]
	path = vendors/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
